<% layout("/layouts/boilerplates") %>

<body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listing">
        <input type="text" name="listing[title]" placeholder="Enter Title" >
        <br>
        <textarea name="listing[description]" placeholder="Enter Description" id=""></textarea>
        <br>
        <input type="text"  name="listing[image]" placeholder="Enter Image URL/LINK" >
        <br>
        <input type="number"  name="listing[price]" placeholder="Enter Price" >
        <br>
        <input type="text"  name="listing[country]" placeholder="Enter Country" >
        <br>
        <input type="text"  name="listing[location]" placeholder="Enter Location" >
        <br>
        <button>ADD</button>
    </form>
</body>
